<%= form_with(model: [ @school, @school.schoolposts.build ], local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit class: "btn buttoncolor btn-sm active" %>
  </div>
<% end %>
1111
