<%= form_with(model: @schoolpost, local: true) do |form| %>

  <div class="field">
    <%= form.label :标题 %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :选择区域（只有关注社区才可以发帖哦） %>
    <%= form.select :school_id, grouped_communities_options_for_select(1,@schoolfollow),{}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= form.label :选择话题 %>
    <%= form.collection_select :posttopic_id, Posttopic.all, :id, :topicname,{},{class: "form-control"} %>
  </div>
  <div class="field">
    <%= form.label :正文 %>
    <%= form.cktext_area :content %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit class: "btn buttoncolor btn-sm active" %>
  </div>
  <% grouped_communities_options_for_select(1,@schoolfollow) %>

<% end %>
