<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>View</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoolposts.each do |schoolpost| %>
      <tr>
        <td><%= schoolpost.view %></td>
        <td><%= schoolpost.title %></td>
        <td><%= schoolpost.text %></td>
        <td><%= link_to 'Show', schoolpost %></td>
        <td><%= link_to 'Edit', edit_schoolpost_path(schoolpost) %></td>
        <td><%= link_to 'Destroy', schoolpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoolpost', new_schoolpost_path %>
