
<div class="mx-3 my-3">
<h4>发表新帖子</h4>

<% if @school %>
<%= render 'form', schoolpost: @schoolpost %>
<% else %>
<%= render 'form1', schoolpost: @schoolpost %>
<% end %>


<% if @school %>
<%= link_to 'Back', showpost_school_path(@school) %>
<% end %>
</div>
