<p id="notice"><%= notice %></p>

<h5 class="card-title">
  <%= @schoolpost.title %>
</h5>

<p>
  <%= @schoolpost.content.html_safe %>
</p>


<%= form_with(model: [ @schoolpost, @schoolpost.schoolpostcomments.build ], local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content, class: 'form-control', placeholder: "输入评论" %>
  </div>

  <div class="actions">
    <%= form.submit '评论', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<%= schoolpostcomments_tree_for @schoolpostcomments %>
