<% content_for :title, t('.title') %>
<div class="pb-2 mt-4 mb-2 border-bottom">
    <h2><%= t('.title') %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
	     html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
	<%= f.label :email %><br />
	<%= f.email_field :email, autofocus: true, autocomplete: "email",
	class: 'form-control' %>
    </div>

    <div class="form-group">
  <%= f.label :nickname %>
  <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",
  class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :language %>
	<%= f.select :language,
	options_for_select(locale_name_pairs, I18n.locale), {},
	    {class: 'form-control'} %>
    </div>

    <div class="form-group">
	<%= f.label :timezone %>
	<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {},
	{class: 'form-control'} %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div><%= t('.currently_waiting_confirmation_for_email',
		   email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="form-group">
	<%= f.label :password %>
	<i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
	<% if @minimum_password_length %>
	    <em><%= t('devise.shared.minimum_password_length',
		      count: @minimum_password_length) %></em>
	<% end %>
	<%= f.password_field :password, autocomplete: "off",
	class: 'form-control' %>

    </div>

    <div class="form-group">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, autocomplete: "off",
	class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :current_password %>
	<i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)
	</i><br/>
	<%= f.password_field :current_password, autocomplete: "off",
	class: 'form-control' %>
    </div>

    <div class="actions">
	<%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
    </div>
<% end %>
<br/>
<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'),
			registration_path(resource_name),
			data: { confirm: t('.are_you_sure') }, method: :delete,
			class: 'btn btn-danger btn-block'%></p>

<%= link_to t('devise.shared.links.back'), :back,
class: 'btn btn-secondary btn-block' %>
