<!-- <% content_for :title, t('.sign_up') %>
<div class="pb-2 mt-4 mb-2 border-bottom"><h2><%= t('.sign_up') %></h2></div>

<%= form_for(resource, as: resource_name,
	     url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
	<%= f.label :email %>
	<%= f.email_field :email, autofocus: true, autocomplete: "email",
	class: 'form-control' %>
    </div>

		<div class="form-group">
	<%= f.label :nickname %>
	<%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",
	class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :language %>
	<%= f.select :language,
	options_for_select(locale_name_pairs, I18n.locale), {},
	    {class: 'form-control'} %>
    </div>

    <div class="form-group">
	<%= f.label :timezone %>
	<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {},
	{class: 'form-control'} %>
    </div>

    <div class="form-group">
	<%= f.label :password %>
	<% if @minimum_password_length %>
	    <em><%= t('devise.shared.minimum_password_length',
		      count: @minimum_password_length) %></em>
	<% end %>
	<%= f.password_field :password, autocomplete: "off",
	class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, autocomplete: "off",
	class: 'form-control' %>
    </div>

    <div class="actions">
	<%= f.submit t('.sign_up'), class: 'btn btn-primary btn-block' %>
    </div>
<% end %>

<%= render "devise/shared/links" %> -->
<div class="login-form">
<% content_for :title, t('.sign_up') %>
<%= form_for(resource, as: resource_name,
	     url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
		<h2 class="text-center">欢迎注册</h2>
		<div class="text-center social-btn">
				<a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> <b> Facebook </b>登录</a>
				<a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> <b> Twitter </b>登录</a>
				<a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> <b> Google </b>登录</a>
		</div>
		<div class="or-seperator"><i>或者</i></div>
		<div class="form-group">
			 <div class="input-group">
							<%= f.email_field :email, autofocus: true, autocomplete: "email",
							class: 'form-control', placeholder: "邮箱" %>
			 </div>
	  </div>
		<div class="form-group">
			 <div class="input-group">
							<%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",
							class: 'form-control', placeholder: "昵称" %>
			 </div>
	  </div>

    <div class="form-group">
			<% if @minimum_password_length %>
			<%= f.password_field :password, autocomplete: "off",
			class: 'form-control', placeholder: "密码"+t('devise.shared.minimum_password_length',
					count: @minimum_password_length) %>

		  <% end %>
		</div>

		<div class="form-group">
			<% if @minimum_password_length %>
			<%= f.password_field :password_confirmation, autocomplete: "off",
			class: 'form-control', placeholder: "请再次输入你的密码" %>
		  <% end %>
		</div>
		<div class="form-group">
				<%= f.submit t('.sign_up'), class: 'btn btn-success btn-block login-btn' %>
		</div>
		<div class="hint-text small">已有账号?
			<%= link_to(new_user_session_path, class: 'text-success') do %>
					<%= t('devise.sessions.new.sign_in')%>
			<% end %>
		</div>
<% end %>

</div>
