<%= form_with(model: schoolphoto, local: true) do |form| %>
  <% if schoolphoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schoolphoto.errors.count, "error") %> prohibited this schoolphoto from being saved:</h2>

      <ul>
      <% schoolphoto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :view %>
    <%= form.number_field :view %>
  </div>
  <div class="form-group">
      <%= form.label :图片 %>
      <%= form.file_field :photo %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
