<p id="notice"><%= notice %></p>

<h1>Schoolphotos</h1>

<table>
  <thead>
    <tr>
      <th>View</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoolphotos.each do |schoolphoto| %>
      <tr>
        <td><%= schoolphoto.view %></td>
        <td><%= link_to 'Show', schoolphoto %></td>
        <td><%= link_to 'Edit', edit_schoolphoto_path(schoolphoto) %></td>
        <td><%= link_to 'Destroy', schoolphoto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoolphoto', new_schoolphoto_path %>
