<p id="notice"><%= notice %></p>
<div class="schoolphoto">
<% if @schoolphoto.photo? %>
<div style="background-image: url(
   <%= image_path @schoolphoto.photo.url %>
 );" class="uiMediaThumbImg"></div>
<% end %>
</div>

<p>
  <strong>View:</strong>
  <%= @schoolphoto.view %>
</p>

<%= link_to 'Edit', edit_schoolphoto_path(@schoolphoto) %> |
<%= link_to 'Back', schoolphotos_path %>
