
<%= render partial: 'navigation' %>
<div class="col-md-9 content">
<div class="portfolio-wrapper">
<h3><%= t('.post', user: @user.email) %></h3>

<% @posts.each do |x| %>
    <div class="card" style="width: 20rem;">
        <%= link_to(image_tag(x.image.url(:medium), class:"card-img-top", alt:"Card image cap"), x.image.url) %>
        <div class="card-body">
        <p><%= link_to x.description, x, class: "h2" %></p>
        <p>Some Descriptions</p>
        <p><%= link_to "Read More", x, class: "badge badge-info" %></p>
        </div><!-- end card-body -->
        <div class="card-footer">
            <ul class="list-inline filters">
                <li><%= link_to "Delete", x,  method: :delete, class: "btn btn-primary" %>
                    <%= link_to "Edit", x,  method: :edit, class: "btn btn-primary" %>
                <%= link_to "Go Somewhere", "#", class: "btn btn-primary" %></li>
            </ul>
        </div><!-- end card-footer -->
    </div><!-- end card -->
    <br>
<% end %>
</div>
