<div class="container-fluid schoolintr">



  <div class="row flex-x1-nowrap">

    <div class="col-12 col-md-9 col-xl-9">
          <% @Schoolposts.each do |schoolpost| %>
          <div class="card bg-light mt-3">
            <div class="card-body">
              <div class="author">
                  <p><%= schoolpost.user.nickname %><p>
              </div>
              <div class="postfrom">
                <p class="comment-time text-muted">
                  <%= timeago_tag schoolpost.created_at, :lang => :'zh-CN' %>    <%= link_to(school_path(schoolpost.school)) do%>
                    <span class="colorgrey">来自<%= schoolpost.school.cnname %></span>
                  <% end %>
                  <%= link_to(school_path(schoolpost.school)) do%>
                    <span class="colorgrey"><%= schoolpost.posttopic.topicname %></span>
                  <% end %>



                </p>
              </div>
              <div class="my-2">
                <span class="card-title">
                  <%= link_to(school_schoolpost_path(schoolpost.school.id, schoolpost)) do %>
                      <%= schoolpost.title %>
                  <% end %>
                </span>
              </div>


              <p class="card-text">
                <span class="postpreview">
                  <%= truncate(Sanitize.fragment( schoolpost.content), length:100) %>
                  <%= link_to(school_schoolpost_path(schoolpost.school.id, schoolpost)) do %>
                      阅读全文
                  <% end %>
                </span>
              </p>
              <ul class="list-inline text-muted mt-1 mb-0 ">
                <li class="list-inline-item">
                  <span>2 days, 8 hours </span>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <span class="">2个评论</span>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <span class=""><%= schoolpost.school.cnname %> </span>
                </li>
              </ul>
            </div>
          </div>
          <% end %>
    </div>

    <div class="col-12 col-md-3 col-xl-3 bd-sidebar">

      <nav class="bd-links">
        <% if @current_user %>
            <p class="colordark1 regulartextsize schoollisttitle">正在关注</p>
            <div class="bd-toc-item active">
                  <ul class="list-group list-group-flush">
                      <% @schoolfollowings.each do |school| %>
                          <li class="list-group-item backgroundcolornone">
                             <span class="caret"></span>
                              <%= link_to  (school_path(school)) do%>
                              <p class="colordark regulartextsize"><%= school.cnname %> </p>
                              <p><small class="colorgrey"><%= school.name %></small></p>
                              <% end %>
                          </li>
                      <% end %>
                  </ul>
            </div>
        <% end %>

        <p class="colordark1 regulartextsize schoollisttitle">你可能感兴趣</p>
        <div class="bd-toc-item active">
            <ul class="list-group list-group-flush">
                <% @schoolrecs.each do |school| %>
                        <li class="list-group-item backgroundcolornone">
                              <div class="">
                                    <div class="">
                                      <%= link_to(school_path(school)) do%>
                                        <p class="colordark regulartextsize"><%= school.cnname %> </p>
                                        <p><small class="colorgrey"><%= school.name %></small></p>
                                      <% end %>
                                    </div>
                                    <div class="float-right mt-1">
                                          <% if @current_user && @current_user.following?(school)  %>
                                          <% else %>
                                            <%= link_to(userfollowschool_follower_path(id: school.id, format: 'js'), remote: true, id: "followschool-"+school.id.to_s) do %>
                                            <button type="button" class="btn btn-outline-success btn-sm float-right">
                                                +关注
                                            </button>
                                            <% end %>
                                          <% end %>
                                    </div>
                              </div>
                        </li>
                  <% end %>
            </ul>
          </div>

      </nav>
</div>
</div>
</div>
