<%= form_with(model: schoolpostcomment, local: true) do |form| %>
  <% if schoolpostcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schoolpostcomment.errors.count, "error") %> prohibited this schoolpostcomment from being saved:</h2>

      <ul>
      <% schoolpostcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%= form.hidden_field :parent_id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
