
<div class="comment-main">
  
<div class="comment-header">
            <a class="comment-author">
              <span>
                <%= schoolpostcomment.user.nickname %>
              </span>
            </a>
            <span class="comment-time text-muted"> <%= timeago_tag schoolpostcomment.created_at, :lang => :'zh-CN' %> </span>
</div>

<div class="comment-body">
    <p><%= schoolpostcomment.content %></p>
</div>

<div class="comment-footer">
  <!-- <p><%= link_to 'reply', new_schoolpostcomment_path(schoolpostcomment.id) %></p> -->
  <%= link_to '回复', new_schoolpostcomment_path(parent_id: schoolpostcomment.id, format: 'js'), remote: true, class:"text-muted"%>
</div>

<div id="reply-form-<%= schoolpostcomment.id %>"></div>

</div>
