<p id="notice"><%= notice %></p>

<h1>Schoolpostcomments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoolpostcomments.each do |schoolpostcomment| %>
      <tr>
        <td><%= schoolpostcomment.content %></td>
        <td><%= schoolpostcomment.user %></td>
        <td><%= link_to 'Show', schoolpostcomment %></td>
        <td><%= link_to 'Edit', edit_schoolpostcomment_path(schoolpostcomment) %></td>
        <td><%= link_to 'Destroy', schoolpostcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoolpostcomment', new_schoolpostcomment_path %>
