<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @schoolpostcomment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @schoolpostcomment.user %>
</p>

<p>
  <strong>References:</strong>
  <%= @schoolpostcomment.references %>
</p>

<p>
  <strong>Schoolpost:</strong>
  <%= @schoolpostcomment.schoolpost %>
</p>

<p>
  <strong>References:</strong>
  <%= @schoolpostcomment.references %>
</p>

<%= link_to 'Edit', edit_schoolpostcomment_path(@schoolpostcomment) %> |
<%= link_to 'Back', schoolpostcomments_path %>
