$("#<%= "followschool-#{@school.id}" %>").replaceWith("<div class='dropdown'>    <button class='btn btn-primary dropdown-toggle' id='menu1' type='button' data-toggle='dropdown'>正在关注<span class='caret'></span></button> <ul class='dropdown-menu' role='menu' aria-labelledby='menu1'> <li role='presentation'><a role='menuitem' tabindex='-1' href='#'>HTML</a></li> <li role='presentation'><a role='menuitem' tabindex='-1' href='#'>CSS</a></li> <li role='presentation' class='divider'></li> <li role='presentation'><a role='menuitem' tabindex='-1' href='#'>About Us</a></li></ul></div>");
