<%= form_with(model: schoolreview, local: true) do |form| %>
  <% if schoolreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schoolreview.errors.count, "error") %> prohibited this schoolreview from being saved:</h2>

      <ul>
      <% schoolreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
