<p id="notice"><%= notice %></p>

<h1>Schoolreviews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th>User</th>
      <th>School</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoolreviews.each do |schoolreview| %>
      <tr>
        <td><%= schoolreview.rating %></td>
        <td><%= schoolreview.comment %></td>
        <td><%= schoolreview.user.email %></td>
        <td><%= schoolreview.school.name %></td>
        <td><%= time_ago_in_words(schoolreview.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
