<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @schoolreview.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @schoolreview.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @schoolreview.user %>
</p>

<p>
  <strong>References:</strong>
  <%= @schoolreview.references %>
</p>

<p>
  <strong>School:</strong>
  <%= @schoolreview.school %>
</p>

<p>
  <strong>References:</strong>
  <%= @schoolreview.references %>
</p>

<%= link_to 'Edit', edit_schoolreview_path(@schoolreview) %> |
<%= link_to 'Back', schoolreviews_path %>
