<!-- <% content_for :title, t('.sign_in') %>
<div class="pb-2 mt-4 mb-2 border-bottom"><h2><%= t('.sign_in') %></h2></div>

<%= form_for(resource, as: resource_name,
	     url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
      class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t('.sign_in'), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->

<div class="login-form">
	<%= form_for(resource, as: resource_name,
				 url: session_path(resource_name)) do |f| %>
        <h2 class="text-center">账号登录</h2>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> <b> Facebook </b>登录</a>
            <a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> <b> Twitter </b>登录</a>
						<a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> <b> Google </b>登录</a>
        </div>
		<div class="or-seperator"><i>或者</i></div>
					 <div class="form-group">
	         	<div class="input-group">
									 <%= f.email_field :email, autofocus: true, autocomplete: "email",
									 class: 'form-control', placeholder: "邮箱" %>
	          </div>
					</div>
					<div class="form-group">
			             <div class="input-group">
											 <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "密码" %>
			             </div>
			   </div>

			<div class="form-group">
					<%= f.submit t('.sign_in'), class: 'btn btn-success btn-block login-btn' %>
			</div>
				<div class="clearfix">
					<% if devise_mapping.rememberable? -%>
					<div class='pull-left checkbox-inline signin-rm'>
					<%= f.check_box :remember_me %>
		      <%= f.label :remember_me %>
				</div>
					<% end -%>
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' &&
					    controller_name != 'registrations' %>
					  <%= link_to t(".forgot_your_password"), new_password_path(resource_name),
					    class: 'pull-right text-success' %>
					<% end -%>
				</div>

		<% end %>
    <div class="hint-text small">没有账号?
			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			    <%= link_to t(".sign_up"), new_registration_path(resource_name),
			    class: 'text-success' %><br/>
			<% end -%>
		</div>
    </form>
</div>
