<%= form_with(model: photocomment, local: true) do |form| %>
  <% if photocomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photocomment.errors.count, "error") %> prohibited this photocomment from being saved:</h2>

      <ul>
      <% photocomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
    <%= form.hidden_field :parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
