<h1>New Photocomment</h1>

<% if @photocomment.parent %>
  <%= render 'photocomment', photocomment: @photocomment.parent, from_reply_form: true %>
<% end %>

<%= render 'form', photocomment: @photocomment %>

<%= link_to 'Back', photocomments_path %>
