<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @photocomment.content %>
</p>

<%= link_to 'Edit', edit_photocomment_path(@photocomment) %> |
<%= link_to 'Back', photocomments_path %>
