<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :学校英文 %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :学校中文 %>
    <%= form.text_field :cnname, :class => "form-control" %>
  </div>

  <!-- <div class="form-group">
      <%= form.label :学校徽章 %>
      <%= form.file_field :schoolimage %>
  </div> -->

  <div class="form-group">
    <%= form.label :学校介绍 %>
    <%= form.cktext_area :schoolintro%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn buttoncolor btn-sm active" %>
  </div>
<% end %>
