<div class="schoolname">
<p>
  <% if false %>
  <% if @school.image.attached? %>
  <%= image_tag @school.image, class:"schoollogo", alt:"logo"%>
  <% end %>
  <% end %>
  <% if @school.schoolimage? %>
<%= image_tag @school.schoolimage.url , class:"schoollogo", alt:"logo"%>
<% end %>
  <%= @school.cnname %>
  <%= @school.name %>
  <%= link_to(userunfollowschool_follower_path(id: @school.id, format: 'js'), remote: true, id: "followschool-"+@school.id.to_s) do %>
  <button type="button" class="btn btn-outline-success btn-sm">
      取消关注
  </button>
  <% end %>
</p>
</div>
