<h1>学校管理</h1>
<%= link_to '新建学校', new_school_path, class: "btn buttoncolor btn-sm active"%>
<table>
<tr>
  <th>英文名</th>
  <th>中文名</th>
  <th colspan="3"></th>
<% @schools.each do |school| %>
  <tr>
    <td><%= school.name %></td>
    <td><%= school.cnname %></td>
    <td><%= link_to 'Show', school %></td>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
