<article class="app-cont">


  <section class="app-content">
    <div class="books-search">
      <input type="text" id="books-search-txt" autofocus>
      <div class="results" id="books-search-results"></div>
    </div>
  </section>

</article>

<% content_for :javascript do %>
  <script type='text/javascript'>
new app.Books;

   </script>
<% end %>
