
<p class="">
  <% if @school.schoolintro%>
  <%= @school.schoolintro.html_safe  %>
  <% else %>
  添加内容
  <% end %>
</p>
<div class="float-right">
<%= link_to image_tag("modify-black.png",class:"modifylogo"), {controller: 'schools', action: 'edit'}%>
</div><br>
<div>
