
<div id="lightgallery" class="schoolphoto">
  <% @school.schoolphotos.each do |schoolphoto| %>
    <%= schoolphoto.view %>
    <% if schoolphoto.photo? %>
  <a href=" <%= image_path schoolphoto.photo.url %>">
    <div style="background-image: url(
       <%= image_path schoolphoto.photo.url %>
     );" class="uiMediaThumbImg"></div>
  </a>
  <% end %>
  <% end %>
</div>
<div class="clear">
<h2>Add a comment:</h2>
</div>
<div>
<%= form_with(model: [ @school, @school.schoolphotos.build ], local: true) do |form| %>
  <p>
    <div class="form-group">
        <%= form.label :图片 %>
        <%= form.file_field :photo %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>

  	<br>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
