
<p>
  <strong>Text:</strong>
  <%= @school.name %>
</p>
<h2>Comments</h2>
<% @school.schoolreviews.each do |schoolreview| %>
  <p>
    <%= schoolreview.user.nickname %> <strong> 评论:</strong>
    <%= schoolreview.comment %>
  </p>

<% end %>

<h2>Add a comment:</h2>

<%= form_with(model: [ @school, @school.schoolreviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
    <%= form.hidden_field :user_id, value: current_user.id %>

  	<br>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
