<div class="discover-controls-wrapper"><div class="content-controls"><div class="types-tabs"> <a href="/explore/trending" class="content-control active" style="width: 72px;" data-text="Trending" data-content-type="trending">  Trending </a>  <a href="/explore/staff-picks" class="content-control " style="width: 88px;" data-text="Staff picks" data-content-type="staff-picks">  Staff picks </a>  <a href="/explore/text" class="content-control " style="width: 44px;" data-text="Text" data-content-type="text">  Text </a>  <a href="/explore/photos" class="content-control " style="width: 64px;" data-text="Photos" data-content-type="photos">  Photos </a>  <a href="/explore/gifs" class="content-control " style="width: 48px;" data-text="GIFs" data-content-type="gifs">  GIFs </a>  <a href="/explore/quotes" class="content-control " style="width: 65px;" data-text="Quotes" data-content-type="quotes">  Quotes </a>  <a href="/explore/links" class="content-control " style="width: 53px;" data-text="Links" data-content-type="links">  Links </a>  <a href="/explore/chats" class="content-control " style="width: 56px;" data-text="Chats" data-content-type="chats">  Chats </a>  <a href="/explore/audio" class="content-control " style="width: 56px;" data-text="Audio" data-content-type="audio">  Audio </a>  <a href="/explore/video" class="content-control " style="width: 54px;" data-text="Video" data-content-type="video">  Video </a>  <a href="/explore/asks" class="content-control " style="width: 50px;" data-text="Asks" data-content-type="asks">  Asks </a>  <span class="content-control more-controls hidden"><span class="type-text">More</span><i class="icon_arrow_carrot_down"></i></span></div></div></div>

<p>
  <strong>Text:</strong>
  <%= @school.name %>
</p>
<h2>Comments</h2>
<% @school.posts.each do |post| %>
  <p>
    <strong>Commenter:</strong>
    <%= post.description %>
  </p>


<% end %>
