

  <%= link_to(new_school_schoolpost_path(@school)) do %>
  <button type="button" class="btn btn-secondary">
      写文章
      </button>
  <% end %>

<% @school.schoolposts.each do |schoolpost| %>
<div class="card bg-light mt-3">
  <!-- <div class="card-header">
    <%= schoolpost.user.nickname %>
  </div> -->
  <div class="card-body">
    <div class="mb-3 author">
      <h7>
        <%= schoolpost.user.nickname %>
      </h7>
    </div>
    <h5 class="card-title">
      <%= link_to(school_schoolpost_path(@school, schoolpost)) do %>
          <%= schoolpost.title %>
      <% end %></h5>
    <p class="card-text">
      <span class="postpreview">
        <%= truncate(Sanitize.fragment( schoolpost.content), length:100) %>
        <%= link_to(school_schoolpost_path(@school, schoolpost)) do %>
            阅读全文
        <% end %>
      </span>
    </p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
    <ul class="list-inline text-muted mt-2">
      <li class="list-inline-item">
        <span>2 days, 8 hours </span>
      </li>
      <li class="list-inline-item">|</li>
      <li class="list-inline-item">
        <span class="">2个评论</span>
      </li>
    </ul>
  </div>
  <!-- <div class="card-footer text-muted">
  2 days ago
</div> -->
</div>
<% end %>

<!--

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
