/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 *= require jquery-ui1.12.1
 *= require lightgallery
 *= require schools
 *= require nav
 *= require toastr
 */
@import "font-awesome";
@import "bootstrap";
/*
*= require loginform
*= require home
*= require schoolpostcomments
*/

//导航条隐藏
.headroom {
    will-change: transform;
    transition: transform 100ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
//图标大小
// .fa-2x {
//   font-size: 1.5em !important;
// }

.bd-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);

  @include media-breakpoint-down(md) {
    padding-right: .5rem;
    padding-left: .5rem;

    .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: .25rem;
      overflow: hidden;
      font-size: .875rem;

      .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1071; // over everything in bootstrap
    }
  }

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #cbbde2;

      &.active,
      &:hover {
        color: #fff;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }

  .dropdown-item.active {
    font-weight: 500;
    color: $gray-900;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: .75rem .75rem;
  }
}

.navbar-nav {
  flex-direction: row !important;
}


.replies {margin-left: 50px;}
body, html {
    font-family: Hiragino Sans GB,Noto Sans CJK SC,-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,Microsoft Yahei,Tahoma,Simsun,sans-serif;
}
body {
    // padding-top: 130px;
    // margin-bottom: 128px;
    background-color: #f7f7f7;
}

//school home
.school-main {
  padding-top: 50px;
}
.icon {
  font-size: 1.1em;
  font-weight:bold;
  margin-left: 15px;
  color: black !important;
  a:visited {
	  color:white;
	}
}
.signin {
  color: #484848 !important;
  background: white !important;
  margin: 0 10px 0 0;
  padding: 0.2em 0.7em;
  border-radius: 2px;
}


a:hover {
  background-color:inherit;
}

p {
  margin: auto;
}
.buttoncolor {
  background-color: #3A66A7;
  color: white  !important;
}
.buttoncolor:hover {
  background-color: #3A66A7;
}
.modifylogo {
  height: 1.3rem;
  width: 1.3rem;
  color: black;
}
.navstyle {
  background-color: #f4f7f6;//#3A66A7;
  margin-bottom: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position:sticky;
  top:0;
  z-index: 1071;
  padding: 0;
}

.types-tabs {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color:#E6EAEA;//#d3d3d3;
  background-color: #f4f7f6;
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 0px 0px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;

  .active1 {
    color:black !important;//white !important;
    font-weight: bold;
  }
  a {
    color:black !important;//#d3d3d3 !important;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
  }

}

.form-control {
font-size: 1rem;
width:100%;
display: inline-block;
}




.widewrapper {
    width:100%;
}
.widewrapper > img {
    display:inline-block;
    max-height:60%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;

}
.widewrapper > a > img {
    display:inline-block;
    max-height:60%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}


.wrapped {
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.filterdrop {
  width: 95%;
}
