//home
.homeback {
 background-image:url("https://s3.us-east-2.amazonaws.com/haicao/appimage/background_home.jpeg");
//background-image: url(background_home.jpeg);
background-position: 0px -600px;
	a:visited {
	  color:white;
	}
	.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	}
}

.schoolintr {
	a:visited {
		color:white;
	}
}
.bd-sidebar {
  order: 0;
  // background-color: #f5f2f9;
  //border-bottom: 1px solid rgba(0, 0, 0, .1);

  @media (min-width: 768px) {
      position: sticky !important;
      top: 3rem;
      z-index: 1000;
      height: calc(100vh - 1rem);
    border-right: 1px solid rgba(0, 0, 0, .1);
  }

  @media (min-width: 1200px) {
    flex: 0 1 320px;
  }
}
.bd-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports (position: sticky) {
    .bd-links {
      max-height: calc(100vh - 3rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}
.schoollisttitle {
border-bottom: 2px solid rgba(0,0,0,0.35);
padding-left: 0.2rem;
margin-top: 1rem;
}

.colordark {
  color: rgba(0,0,0,0.65);
}
.colordark1 {
  color: rgba(0,0,0,0.45);
  font-weight: 500;
}
.backgroundcolornone {
  background-color: transparent !important;
}

.regulartextsize {
  font-size: 1rem;
  line-height: 1.5;
}
.colorgrey {
  color: grey;
}
