	.login-form {
		width: 340px;
    	margin: 30px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .login-form .hint-text {
		color: #777;
		padding-bottom: 15px;
		text-align: center;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }
    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left;
        line-height: 24px;
    }
	.social-btn .btn i {
		float: left;
		margin: 4px 15px  0 5px;
        min-width: 15px;
	}
	.input-group-addon .fa{
		font-size: 18px;
	}
	.signin-rm label {
		font-weight: normal;
	}
	.social-btn {
		.btn-primary {
		color: #fff;
		background-color: #428bca;
		border-color: #357ebd;
		}
		.btn-success {
		color: #fff;
		background-color: #5cb85c;
		border-color: #4cae4c;
		}
		.btn-info {
		color: #fff;
		background-color: #5bc0de;
		border-color: #46b8da;
		}
		.btn-warning {
		color: #fff;
		background-color: #f0ad4e;
		border-color: #eea236;
		}
		.btn-danger {
		color: #fff;
		background-color: #d9534f;
		border-color: #d43f3a;
		}
		.btn-white {
		color: #5e5e5e;
		background-color: #fff;
		border: 1px solid #e5e9ec;
		}		
	}
