#schools-search-results{
  width:0;
  height:0;

}

.schools-search {


    .results {
      text-align: left;

      .ui-widget-content {
        background: #fff;
        font-size: 1.1em;
        padding: .5em 0;
        border-color: #ddd;
        box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
        line-height: 2;
        max-height: 20em;
        overflow: hidden;
        overflow-y: auto;
      }

      .ui-menu-item {
        position: relative;
        border: 0;
        a:hover {background: none;}
        .ui-state-active:hover {
        	background: #E8E8E8;
        	font-weight: normal;
        	color: black;
        }
        .ui-state-active {
          border:none;
          background: #E8E8E8;
        	font-weight: normal;
        	color: black;
          margin: 0;
          a {
            color:black;
          }
        }
        .img {
          position: absolute;
          width: 5em;
          height: 6em;
          top: .4em;
          left: .6em;
          overflow: hidden;

          img {
            max-width: 100%;
          }
        }

        .title {
          display: block;
          color: #555;
        }

        .author {
          display: block;
          font-size: .8em;
          text-transform: uppercase;
          color: #aaa;
          margin-top: .6em;
          letter-spacing: 1px;
        }

        .price {
          display: block;
          font-size: .8em;
          color: #aaa;
          margin-top: .5em;
        }
      }

    }
  }
.schoolphoto {
  .uiMediaThumbImg {
   height: 206px;
   width: 206px;
   margin: 5px;
   background-color: #e9ebee;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 300px;
   display: block;
   float: left;
   border: 1px solid #ccc;
  }
  .uiMediaThumbImg:hover {
    border: 1px solid #777;
  }
}

.searchbtn {
  border-color: none;
  background: #f7f7f7;
  padding: 0.2em 0.5em;
  margin-left: -0.3em;
}
.searchinput {
  padding: 2px 0.5em;
}

.form-inline-1 {
  margin:0.2em 0em !important;
 display: inline-block;
}
