div .schoolname {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color:#d3d3d3;
  padding: 0px 0px 10px 0px;
  margin: 5px 0px 20px 0px;
  p {
  font-size: 1.2em;
  }
  .schoollogo {
    width: 1.5em;
    height: 1.5em;
  }
}

.schoollist a {
display: block;

}
.schoollist a:hover{
background-color: black;

}

.clear {
    clear: both;
}
