.comment-body {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.comment-header {
  span {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.comment-footer {
  a {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}
.comment-main {
  margin-bottom: 20px;
}
