// Place all the styles related to the schoolposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postfrom {
  p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

}

.author {
  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
  }

}

.card-title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  a{color:black;}
  a:visited{color:black;}
  a:hover{color:#3A66A7;text-decoration: none;}
}
.card-text {
  .postpreview {
  font-size: 1rem;
  line-height: 1.6;
  word-break: break-word;
  color: #3f3f3f;
  a:visited{color:#175199;}
  }
  a{color:#175199;}
}
.card-body {
  padding: 0.6rem !important;
}
