<nav class="navbar navbar-expand-md navbar-light navstyle">
  <div>
  <%= link_to(root_path, class: "navbar-brand icon  mr-0 mr-md-2") do %>
      H海草
  <% end %>
  <form class ="form-inline-1">
    <div class="form-group" style="display:inline;">
      <div class="schools-search">
        <input class="searchinput" id="schools-search-txt" name="a" type="text" placeholder="搜索学校，地区，专业">
        <button class="searchbtn" type="submit"><i class="fa fa-search"></i></button>
        <div class="results" id="schools-search-results"></div>
      </div>
    </div>
  </form>
</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav ml-md-auto">
    <% if user_signed_in? %>
        <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbarDropdown"
                 role="button" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                 <%= fa_icon "user 2x" %>

              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to(edit_user_registration_path,
                  class: 'dropdown-item') do %>
                  <%= fa_icon "cog 2x" %>
                更改账号
                <% end %>
            <div class="dropdown-divider"></div>
                <%= link_to(destroy_user_session_path, method: :delete, confirm: "Are you sure?", class: "dropdown-item") do %>
                <%= fa_icon "sign-out 2x" %>
                    登出
                <% end %>
              </div>
        </li>
        <li class="nav-item mr-3">
          <%= link_to(new_schoolpost_path, {class: "nav-link" }) do %>
          <%= fa_icon "plus-square 2x" %>
          <% end %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to(new_schoolpost_path, {class: "nav-link" }) do %>
          <%= fa_icon "bell 2x" %>
          <% end %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to(new_schoolpost_path, {class: "nav-link" }) do %>
          <%= fa_icon "th 2x" %>
          <% end %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to(new_schoolpost_path, {class: "nav-link" }) do %>
          <%= fa_icon "envelope 2x" %>
          <% end %>
        </li>
    <% else %>
        <li class="nav-item mr-3">
            <%= link_to(new_user_session_path, class: "nav-link") do %>
                <%= fa_icon "sign-in 2x" %>
                <%= t('devise.sessions.new.sign_in')%>
            <% end %>
        </li>
    <% end %>

  </ul>

</div>

</nav>
