<nav class="navbar-expand-md navbar-dark">
  <div class="types-tabs">
    <%= link_to("推荐", home_pages_path,  class: current_action?(controller: 'pages', action: 'home')? 'active1': '') %>
    <% if user_signed_in? %>
      <%= link_to("关注", mypost_pages_path,  class: current_action?(controller: 'pages', action: 'mypost')? 'active1': '') %>
    <% end %>
    <a>
      附近
    </a>
     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= fa_icon "filter 1x" %></a>
     <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
       <div class="dropdown-divider"></div>
       <% if current_action?(controller: 'pages', action: 'home') %>
          <%= link_to("显示全部", home_pages_path, class: "dropdown-item filterdrop") %>
       <% end %>
       <% if current_action?(controller: 'pages', action: 'mypost') %>
          <%= link_to("显示全部", mypost_pages_path, class: "dropdown-item filterdrop") %>
       <% end %>
       <% @posttopics.each do |posttopic| %>
             <div class="dropdown-divider"></div>
             <% if current_action?(controller: 'pages', action: 'home') %>
               <%= link_to(home_pages_path(posttype: posttopic.id),  class: "dropdown-item filterdrop")  do %>
                    <%= posttopic.topicname %>
               <% end %>
             <% end %>
             <% if current_action?(controller: 'pages', action: 'mypost') %>
               <%= link_to(mypost_pages_path(posttype: posttopic.id),  class: "dropdown-item filterdrop")  do %>
                    <%= posttopic.topicname %>
               <% end %>
             <% end %>
       <% end %>
       <div class="dropdown-divider"></div>
    </div>

</nav>
