<% unless flash.empty? %>
<% flash.each do |key, value| %>
    <div class="<%= flash_class(key.to_sym) %>" role="alert">
	<%= value%>
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	</button>
    </div>
<% end %>
<% end %>

<script type="text/javascript">
    <% flash.each do |f| %>
	    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	    toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
</script>
