<nav class="navbar-expand-md navbar-dark">
  <div class="types-tabs">
    <%= link_to("主页", school_path(@school),  class: current_action?(controller: 'schools', action: 'show')? 'active1': '') %>
    <%= link_to("点评", showreview_school_path(@school),  class: current_action?(controller: 'schools', action: 'showreview')? 'active1': '') %>
    <%= link_to("照片", showphoto_school_path(@school),  class: current_action?(controller: 'schools', action: 'showphoto')? 'active1': '') %>
    <%= link_to("帖子", showpost_school_path(@school),  class:         if current_action?(controller: 'schoolposts', action: 'show') || current_action?(controller: 'schools', action: 'showpost') ||
    current_action?(controller: 'schoolposts', action: 'new')
           'active1' else '' end) %>
    <a>
      活动
    </a>
    <a>
      视频
    </a>
    <a>
      社群
    </a>
    <a>
      校友
    </a>
    <a>
      交流
    </a>
    <a>
      话题
    </a>
    <a>
      讨论
    </a>
    <a>
      工作
    </a>
  </div>
</nav>
