<!DOCTYPE html>
<html lang="en">
    <head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application',
        'data-turbolinks-track': 'reload' %>
    </head>

    <body>


  <header class="navstyle">
  <%= render partial: 'header' %>
  <%= render partial: 'headerl2' %>
</header>
	<!-- <%= render partial: 'notifications' %> -->
   <%= yield %>
    </body>
</html>
