<!DOCTYPE html>
<html lang="en">
    <head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application',
        'data-turbolinks-track': 'reload' %>
    </head>

    <body>
	    <%= render partial: 'notifications' %>

      <div class='container school-main'>
	    <%= yield %>
     </div>

    </body>
</html>
